
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.conta-container {
  width: 393px;
  height: 852px;
  background-color: #1b1c20;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  color: white;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  margin-top: 10px;
}

.user-info p {
  margin: 2px 0;
  color: #ffffff;
  font-size: 14px;
}

.saldo-card {
  background-color: #b0255a;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.saldo-card h3 {
  margin: 0;
  font-size: 16px;
}

.saldo-card h2 {
  margin: 8px 0;
  font-size: 28px;
}

.saldo-card button {
  background-color: #9b1b50;
  border: none;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* === AÇÕES (Pix, Transferência, Boleto) === */
.acoes {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.acoes div {
  width: 90px;
  height: 90px;
  background-color: #2b2c30;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  transition: transform 0.2s ease;
}

.acoes div:hover {
  transform: scale(1.05);
  background-color: #38393f;
}

.acoes img {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.acoes span {
  font-size: 14px;
  color: #ffffff;
}

/* === CARTÃO DE CRÉDITO === */
.cartao {
  background-color: #2b2c30;
  border-radius: 15px;
  padding: 20px;
  margin-top: 25px;
  position: relative;
}

.cartao p {
  margin: 6px 0;
  color: #fcfafa;
}

.valor {
  font-size: 26px;
  color: white;
  font-weight: 700;
}

.seta {
  float: right;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.seta:hover {
  transform: translateX(4px);
  color: #b0255a;
}

