body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.pix-container {
  width: 393px;
  height: 852px;
  background: radial-gradient(circle at top, #1c1d21 0%, #101012 100%);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  padding: 25px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  font-size: 16px;
  color: #aaa;
}

.header img {
  width: 45px;
}

.voltar {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.pix-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.pix-icon {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  background-color: #2d2e33;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix-icon img {
  width: 45px;
  height: 45px;
}

.pix-label {
  font-size: 14px;
  color: #ccc;
}

.campo-pix {
  width: 85%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.botao-enviar {
  width: 85%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #b0255a;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-enviar:hover {
  background-color: #9b1b50;
}


